@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #fff;
    --accent-bg: #2a2b2e;
    --text: #2a2b2e;
    --text-light: #585858;
    --accent: #3a405a;
    --accent-hover: #335899;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: ##ffcaaf;
    --disabled: #cccccc;
  }
}
body {
  font-family: 'Raleway', system-ui, sans-serif;
  line-height: 1.5;
}

h1 {
  letter-spacing: 14px;
  color: #dddddd;
}

.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}
